<span *ngIf="condition === 'storm'" class="material-icons condition-storm">storm</span>
<span *ngIf="condition === 'snow'" class="material-icons condition-snow">ac_unit</span>
<span *ngIf="condition === 'hail'" class="material-icons condition-hail">air</span>
<span *ngIf="condition === 'rain'" class="material-icons condition-rain">water</span>
<span *ngIf="condition === 'fog'" class="material-icons condition-cloud">cloud</span>
<span *ngIf="condition === 'clear_day'" class="material-icons condition-clear-day">light_mode</span>
<span *ngIf="condition === 'clear_night'" class="material-icons condition-clear-night">dark_mode</span>
<span *ngIf="condition === 'cloud'" class="material-icons condition-cloud">cloud</span>
<span *ngIf="condition === 'cloudly_day'" class="material-icons condition-cloud">cloud</span>
<span *ngIf="condition === 'cloudly_night'" class="material-icons condition-cloudly-night">nights_stay</span>
<span *ngIf="condition === 'none_day'" class="material-icons condition-none-day">light_mode</span>
<span *ngIf="condition === 'none_night'" class="material-icons condition-none-night">dark_mode</span>