<div class="sidebar-menu">
  <ul class="list-group pl-3">
    <li class="d-flex mb-2">
      <a class="d-flex justify-content-left align-items-stretch" routerLink="/" routerLinkActive="active">
        <span class="material-icons mr-2">home</span> Home
      </a>
    </li>
    <small class="text-uppercase pt-3 pb-2"><b>Consulta</b></small>
    <li class="d-flex">
      <a class="d-flex justify-content-left align-items-stretch" routerLink="/meteorological" routerLinkActive="active">
        <span class="material-icons mr-2">event</span> Previsão Climática
      </a>
    </li>
  </ul>
</div>